<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

</head>
<body>
    <!--from Tenor-->
    <div class="pic">
        <img class="man" src="https://media1.tenor.com/images/5e91951a2b88c8d55d667e736b88d3b7/tenor.gif">

        
        <h1>Tinetti Assessment</h1>
    </div>
   
    <form action="/assessment/new" method="post">
        <div class="section">

        <label for="PtName">Patient Name</label>
        <input type="text" id="PtName" name="PatientName" value="<%=balance.PatientName%>"required>

        <label for="date">Date</label>
        <input type="text" id="date" name="TestDate" value="<%=balance.TestDate%>"required>

        <label for="therapist">Therapist</label>
        <input type="text" id="therapist" name="Therapist" value="<%=balance.Therapist%>"required>
    </div>
     

        <div class="row">
            <div class="col">
                <h2>Balance Section</h2>

                    <!-- //https://getbootstrap.com/docs/4.1/layout/grid/
                    //balance  and gait section -->
                <p>Sitting Balance</p>

                <input type="radio" id="leans" name="score" value="0" required>
                <label for="leans">Leans or slides in chair (0 points)</label><br>

                <input type="radio" id="safe" name="score" value="1">
                <label for="safe">Steady, safe (1point)</label><br>

                <br>


                <p>Rises from chair</p>

                <input type="radio" id="help" name="score1" value="0"required>
                <label for="help">Unable to without help (0 points)</label><br>

                <input type="radio" id="arms" name="score1" value="1">
                <label for="arms">Able, uses arms to help (1point)</label><br>

                <input type="radio" id="without" name="score1" value="2">
                <label for="without">Able without use of arms (2 points)</label><br>

                <br>


                <p>Attempts to rise</p>

                <input type="radio" id="unable" name="score2" value="0"required>
                <label for="unable">Unable to without help (0 points)</label><br>

                <input type="radio" id="required" name="score2" value="1">
                <label for="required">Able, requires > 1 attempt(1point)</label><br>

                <input type="radio" id="able" name="score2" value="2">
                <label for="able">Able without use of arms (2 points)</label><br>

                <br>


                <p>Immediate standing balnce 1st 5 secs</p>

                <input type="radio" id="unsteady" name="score3" value="0"required>
                <label for="unsteady">Unsteady (staggers, moves feet, trunk sway) (0 points)</label><br>

                <input type="radio" id="walker" name="score3" value="1">
                <label for="walker">Steady but uses walker or other support </label>(1point)</label><br>

                <input type="radio" id="able" name="score3" value="2">
                <label for="able"> Steady without walker or other support(2 points)</label><br>

                <br>


                <p>Standing Balance</p>

                <input type="radio" id="balance" name="score4" value="0"required>
                <label for="balance">Unsteady (0 points)</label><br>

                <input type="radio" id="wide" name="score4" value="1">
                <label for="wide">Steady but wide stance and uses support</label>(1point)</label><br>

                <input type="radio" id="narrow" name="score4" value="2">
                <label for="narrow">Narrow stance without support (2 points)</label><br>

                <br>


                <p>Nudged</p>

                <input type="radio" id="fall" name="score5" value="0"required>
                <label for="fall">Begins to fall (0 points)</label><br>

                <input type="radio" id="stagger" name="score5" value="1">
                <label for="stagger">Staggers, grabs, catches self (1 point)
                </label><br>

                <input type="radio" id="narrow" name="score5" value="2">
                <label for="narrow">Steady (2 points)</label><br>

                <br>


                <p>Eyes Closed</p>

                <input type="radio" id="eyes" name="score6" value="0"required>
                <label for="eyes">Unsteady (0 points)</label><br>

                <input type="radio" id="steady" name="score6" value="1">
                <label for="steady">Steady (1 point)
                </label><br>

                <br>


                <p>Turning 360 degrees:Steps</p>

                <input type="radio" id="steps" name="score7" value="0"required>
                <label for="steps">Discontinuous steps (0 points)</label><br>
                <input type="radio" id="continuous" name="score7" value="1">
                <label for="continuous">Continuous steps (1 point)</label><br>

                <br>


                <p>Turning 360 degrees:Steadiness</p>

                <input type="radio" id="turning" name="score8" value="0"required>
                <label for="turning">Unsteady (grabs, staggers) (0 points)</label><br>
                <input type="radio" id="continuous" name="score8" value="1">
                <label for="continuous">Steady (1 point)</label><br>

                <br>


                <p>Sitting Down</p>

                <input type="radio" id="sitting" name="score9" value="0"required>
                <label for="sitting"> Unsafe (misjudged distance, falls into chair)(0 points)</label><br>

                <input type="radio" id="not" name="score9" value="1">
                <label for="not">Uses arms or not a smooth motion(1 point)
                </label><br>

                <input type="radio" id="smooth" name="score9" value="2">
                <label for="smooth">Safe, smooth motion (2 points)</label><br>

                <br>

            </div>
            <div class="col">
                <h2>Gait Section</h2>


                <p> Indication of gait</p>

                <input type="radio" id="attempts" name="score10" value="0"required>
                <label for="attmepts"> Any hesitancy or multiple attempts (0 points)</label><br>

                <input type="radio" id="nohesitancy" name="score10" value="1">
                <label for="nohesitancy">No Hesitancy(1 point)
                </label><br>

                <br>


                <p> Step length and height: Right</p>

                <input type="radio" id="right" name="score11" value="0"required>
                <label for="right">Step to (0 points)</label><br>

                <input type="radio" id="left" name="score11" value="1">
                <label for="left">Step through R(1 point)
                </label><br>

                <br>


                <p> Step length and height: Left</p>

                <input type="radio" id="length" name="score12" value="0"required>
                <label for="length">Step to (0 points)</label><br>

                <input type="radio" id="height" name="score12" value="1">
                <label for="height">Step through L(1 point)
                </label><br>

                <br>


                <p> Foot clearance: Right</p>

                <input type="radio" id="clearance" name="score13" value="0"required>
                <label for="clearance">Foot drop(0 points)</label><br>

                <input type="radio" id="foot" name="score13" value="1">
                <label for="foot">R foot clears floor L(1 point)
                </label><br>

                <br>


                <p> Foot clearance: Right</p>

                <input type="radio" id="drop" name="score14" value="0"required>
                <label for="drop">Foot drop (0 points)</label><br>

                <input type="radio" id="foot" name="score14" value="1">
                <label for="foot">L foot clears floor (1 point)
                </label><br>


                <p> Step Symmetry </p>

                <input type="radio" id="not" name="score15" value="0"required>
                <label for="not">Right and left step lengths not equal (0 points)</label><br>

                <input type="radio" id="equa;" name="score15" value="1">
                <label for="equal">Right and left step lengths appear equal (1 point)
                </label><br>

                <br>


                <p> Step Continuity</p>

                <input type="radio" id="not" name="score16" value="0"required>
                <label for="not">Stopping or discontinuity between steps (0 points)</label><br>

                <input type="radio" id="equal" name="score16" value="1">
                <label for="equal">Steps appear continuous (1 point)
                </label><br>

                <br>


                <p> Path </p>

                <input type="radio" id="marked" name="score17" value="0"required>
                <label for="marked">Marked deviation(0 points)</label><br>

                <input type="radio" id="mild" name="score17" value="1">
                <label for="mild"> Mild/moderate deviation or uses w. aid(1 point)
                </label><br>

                <input type="radio" id="without" name="score17" value="2">
                <label for="without">Straight without aid (2 points)</label><br>

                <br>


                <p> Trunk </p>

                <input type="radio" id="sway" name="score18" value="0"required>
                <label for="sway">Marked sway or uses w. aid(0 points)</label><br>

                <input type="radio" id="knees" name="score18" value="1">
                <label for="knees"> No sway but flex. knees or back or uses arms for stability(1 point)
                </label><br>

                <input type="radio" id="without" name="score18" value="2">
                <label for="without">No sway, flex., use of arms or w. aid (2 points)</label><br>

                <br>


                <p> Walk Time </p>

                <input type="radio" id="time" name="score19" value="0"required>
                <label for="time">Heels apart (0 points)</label><br>

                <input type="radio" id="foot" name="score19" value="1">
                <label for="foot">Heels almost touching while walking (1 point)
                </label><br>

                <br>
                <input type="submit" value="Submit">

            </div>
        </div>
    </form>

   



</body>

</html>