.pic h1 {
    text-align: center;
    background-color: antiquewhite;
    padding-top: 1em;
}
.man {
  height: 90px;
 
}

.pic {
  display: flex;
  background-color: antiquewhite;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 5px solid white;
}

.row {
  padding: 2em;  
  background-color: antiquewhite;
  padding-top: 2em;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col']:not(:first-child),
.row.no-gutter [class*='col']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
  border: 1px solid black;
  border-radius: 2px;
  padding-left: 10px;
}

body html {  
  margin: 0;
  padding: 0;   
}


.backgroundimg { 
  background-image: url("https://www.globaltimes.cn/Portals/0//attachment/2017/2017-05-17/62f98ecc-df37-42f0-ae41-3593cb044b9d.jpg");

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.btn {
  font-size: 15px;
  font-family: "Lucida Grande";
  background-color: lightgrey;
  border: 1px solid;
  padding: .100rem .35rem;
}

.tin {
  text-align: center;
  margin-top: 140px;
}
h1 {
  font-size: 50px;
}
